  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<div class="comments">
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
          clientID: "7e24fdd4a6823c834977",
          clientSecret: "3a0b43b13d271c2079b567376325b4f843d0c52a",
          repo: "trust-web.github.io",
          owner: "trust-web",
          admin: ["trust-web"],
          id: window.location.pathname,      // Ensure uniqueness and length less than 50
          distractionFreeMode: true,  // Facebook-like distraction free mode
          title: "{{ page.title }}",
          language: "zh-CN",

        })
        
        gitalk.render('gitalk-container')
    </script>
</div>
